merge=tmerge;
xindex_select_method=resolution;
// Comment in the TB you want to test
instance {pe_tb.dut} {xpropOn};
instance {top_tb.dut} {xpropOn};
instance {post_pnr_tb.dut} {xpropOn};

instance {rvtu_cluster_sim.pair} {xpropOn};
instance {rvtu_cluster_sim.a_mul_pe} {xpropOn};
instance {rvtu_cluster_sim.b_mul_pe} {xpropOn};
